.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 30px;
    object-fit: cover;
}

.profile__avatar:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (max-width:767px) {
    .profile__avatar {
        width: 120px;
        border-radius: 120px;
        margin: 0 auto;
    }
}


  
